#side-panel {
    height: 100%;
    width: 100px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#content-area{
    height: fit-content;
    width: calc(100% - 100px);
    position: absolute;
    top: 0;
    left: 100px;
}