<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/png">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>PuralNet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}">
    {% block head %}
    {% endblock %}
</head>
<body>


<div id="content-area">
    {% block content %}{% endblock %}
</div>


<div id="side-panel">
    <a href="/feed"><img src="{{ url_for('static', filename='img/icon.png') }}" style="width: 75px; margin: 12px;"></a>
    <a href="/info"><img src="{{ url_for('static', filename='img/information.png') }}" style="width: 40px; position: fixed; bottom: 115px; left: 30px"></a>
    {% if not session.get("username", None) %}
        <a href="/login"><img src="{{ url_for('static', filename='img/login.png') }}" style="width: 50px; position: fixed; bottom: 30px; left: 25px"></a>
    {% else %}
        <a href="/user/id{{ session.get('id') }}"><img src="{{ url_for('static', filename='img/profile.png') }}" style="width: 50px; position: fixed; left: 25px; top: 125px;"></a>
        <a href="/user/id{{ session.get('id') }}/subscribes"><img src="{{ url_for('static', filename='img/friends.png') }}" style="width: 50px; position: fixed; left: 25px; top: 210px;"></a>
        <a href="/users"><img src="{{ url_for('static', filename='img/loupe.png') }}" style="width: 40px; position: fixed; left: 28px; top: 300px;"></a>
        <a href="/logout"><img src="{{ url_for('static', filename='img/exit.png') }}" style="width: 50px; position: fixed; bottom: 30px; left: 25px"></a>
    {% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>