{% extends "base.html" %}

{% block content %}
<style>

    #back {
        height: 300px;
        width: 100%;
        background-color: #518bff;
        position: absolute;
        top: 0;
        left: 0;
    }

    .article-card {
    align-content: center;
    text-align: center;
    left: 0;
    right: 0;
    width: 700px;
    position: relative;
    margin: 40px auto 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    padding: 50px;
}

</style>
<div id="back">
<div class="article-card">
    <h3>Лента последних постов</h3>
    <h5>ID Пользователя: {{ session.get("id") }}</h5>
</div>
    {% for article in articles %}
    {% for art in article[0] %}
        <div class="article-card"><img class="img-thumbnail"
                                           src="{{ article[1].avatar_path }}"
                                           style="width: 100px;"
                                           alt="Аватар пользователя">
                <a href="/user/id{{ art.user_id }}"><h2>{{ article[1].name.title() }} {{ article[1].surname.title() }}</h2></a>
                <p>ID: {{ art.user_id }}</p>
                <h3>{{ art.title }}</h3>
                <h6>{{ art.timestamp }}</h6>
                <p>{{ art.content }}</p>
                {% for file in art.files %}
                <a href="/get_file/{{ file.id }}">{{ file.name }}</a>
                {% endfor %}
                <br/>
                {% if article[0].user_id == session.get("id") or
                session.get("is_admin") %}
                <br/>
                <a href="/delete_article/{{ art.id }}">Удалить</a>
                {% endif %}
            </div>
    {% endfor %}
    {% endfor %}
</div>
{% endblock %}