{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../static/css/profile.css">
{% endblock %}

{% block content %}
<div style="width: 100%; height: fit-content;">
    <div style="width: 100%; height: fit-content;">
        <div id="header_image"></div>
        <div id="info">
            <img class="img-thumbnail" id="avatar" src="https://secure.gravatar.com/avatar/bd856c46ac9e71dc139ccf2151b08dd3?s=248">
            <br/>
            <div id="userinfo">
            <h1>{{ user.name.title() }} {{ user.surname.title() }}</h1>
            <p id="username2">День рождения: {{ user.date }}</p>
            </div>
            <br/>
            {% if session.get("username") != user.username %}
            <button class="btn btn-success">Добавить в друзья</button>
            {% else %}
            <button class="btn btn-secondary">Настройки</button>
            {% endif %}
            <button class="btn btn-primary">Сообщение</button>
        </div>
    </div>
    <div>

    </div>
</div>
{% endblock %}
